Repository Mayurifag/bets_accounting: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, yarn

rubocop:
  runner: rubocop --safe-auto-correct {staged_files} && git add {staged_files}

yarn:
  runner: dip yarn fix && git add {staged_files}

:tada: Add zonebie gem
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/queries/bet_index_query.rb
  backend/spec/spec_helper.rb
  frontend/src/pages/BetsList.vue
Due: rubocop

Add pagy gem with configuration
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/application_controller.rb
  backend/config/initializers/pagy.rb
Due: rubocop

Add backend pagination for bets functionality
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/bets_controller.rb
  backend/config/initializers/pagy.rb
  backend/spec/requests/bets_spec.rb
  frontend/src/App.vue
  frontend/src/api/index.js
  frontend/src/components/BetEditModal.vue
  frontend/src/pages/BetsList.vue
  frontend/src/store/index.js
Due: rubocop, yarn

:cop: Delete rubocop from codeclimate
  .codeclimate.yml
Due: none

Move pagy to query objects
  backend/app/controllers/application_controller.rb
  backend/app/controllers/bets_controller.rb
  backend/app/queries/base_query.rb
  backend/app/queries/bet_index_query.rb
  backend/app/serializers/bet_blueprint.rb
  frontend/src/pages/BetsList.vue
Due: rubocop

Add created_at index for bets
  backend/.rubocop.yml
  backend/db/migrate/20190811211029_add_alpha_schemas.rb
  backend/db/schema.rb
  backend/spec/rails_helper.rb
  dip.yml
Due: rubocop

Execute rubocop in parallel
  .github/workflows/main.yml
  dip.yml
  lefthook.yml
Due: none

Add rails-best-practices to Github Actions
  .github/workflows/main.yml
Due: none

Rename backend application from backend to betsaccounting
  backend/config/application.rb
  backend/config/database.yml
Due: none

Make empty bets page happy :)
  frontend/src/pages/BetsList.vue
Due: none

Make browsers not to autocomplete register fields
  frontend/src/pages/Login.vue
Due: none

Change test user credentials
  backend/app/models/user.rb
  backend/db/seeds.rb
  frontend/src/pages/Login.vue
  lefthook.yml
Due: rubocop

:tada: Lint CI yaml a bit
  .github/workflows/main.yml
  lefthook.yml
Due: none

Add consistency fail gem into project and into CI
  .github/workflows/main.yml
  backend/Gemfile
  backend/Gemfile.lock
  dip.yml
Due: none

Beautify initial db migration
  backend/.rubocop.yml
  backend/db/migrate/20190811211029_add_schemas.rb
  dip.yml
Due: rubocop

Add Cypress for e2e vue cli tests
  frontend/package.json
  frontend/yarn.lock
Due: none

Upgrade package versions to latest excluding VeeValidate
  frontend/package.json
  frontend/src/assets/scss/_variables.scss
  frontend/src/assets/scss/app.scss
  frontend/src/main.js
  frontend/src/pages/Login.vue
  frontend/yarn.lock
Due: yarn

:cop: Hotfix rubocop
  dip.yml
  lefthook.yml
Due: none

Change public index.html
  backend/config/database.yml
  frontend/package.json
  frontend/public/index.html
Due: none

Remove cypress
  frontend/package.json
  frontend/yarn.lock
Due: none

Downgrade docker-compose version and add health check postgres container
  dip.yml
  docker-compose.yml
Due: none

Add Polist gem for base service, change lefthook logics
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/autocomplete_controller.rb
  backend/app/services/autocomplete_service.rb
  backend/app/services/base_service.rb
  dip.yml
  docker-compose.yml
  frontend/src/pages/BetsList.vue
  lefthook.yml
Due: rubocop

Add docker-compose for e2e with prod served build
  backend/config/initializers/cors.rb
  dip.yml
  docker-compose-dev.yml
  docker-compose-e2e.yml
  frontend/.dockerignore
  frontend/build.Dockerfile
  frontend/dev.Dockerfile
Due: rubocop

Add dumb e2e test for visiting '/'
  .editorconfig
  .gitignore
  Makefile
  docker-compose-e2e.yml
  e2e/.gitignore
  e2e/.npmrc
  e2e/Dockerfile
  e2e/cypress.json
  e2e/cypress/integration/spec.js
  e2e/cypress/plugins/index.js
  e2e/cypress/support/commands.js
  e2e/cypress/support/index.js
Due: yarn

Add possibly working github action for e2e
  .github/workflows/main.yml
  Makefile
  docker-compose-e2e.yml
  e2e/.gitignore
  e2e/Dockerfile
  e2e/package-lock.json
  e2e/package.json
  frontend/build.Dockerfile
  frontend/public/index.html
  lefthook.yml
Due: none

Disable source maps for vue production
  .github/workflows/main.yml
  frontend/package.json
  frontend/src/main.js
  frontend/vue.config.js
Due: yarn

Make webpack chunk js and .gz dist files
  frontend/package.json
  frontend/public/index.html
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/vue.config.js
  frontend/yarn.lock
Due: yarn

Add make parallel command for API parallel_specs
  .github/workflows/main.yml
  Makefile
  README.md
  backend/README.md
  backend/config/initializers/regressor.rb
  lefthook.yml
Due: rubocop

:tada: Add purgecss webpack plugin and cssnano for postcss
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/pages/BetsList.vue
  frontend/vue.config.js
  frontend/yarn.lock
Due: yarn

:fire: Hotfix bet deleting
  Makefile
  frontend/src/pages/BetsList.vue
Due: none

Tune postgres with postgresql.auto.conf and bump to postgres v.12 :tada:
  .github/workflows/main.yml
  backend/Gemfile.lock
  backend/app/queries/bet_index_query.rb
  backend/config/database.yml
  docker-compose-dev.yml
  frontend/src/pages/BetsList.vue
  postgres_configuration/postgresql.auto.conf
Due: rubocop

Refactor autocomplete service with S of solid
  README.md
  backend/app/controllers/autocomplete_controller.rb
  backend/app/interactors/autocomplete_interactor.rb
  backend/app/interactors/base_interactor.rb
  backend/app/queries/bet_index_query.rb
  backend/app/services/autocomplete_service.rb
  backend/app/services/base_service.rb
  backend/config/initializers/application_controller_renderer.rb
  backend/config/initializers/backtrace_silencers.rb
  backend/config/initializers/inflections.rb
  backend/config/initializers/mime_types.rb
  postgres_configuration/postgresql.auto.conf
Due: rubocop

Use wait-for-pg script to wait if db is up
  dip.yml
  docker-compose-dev.yml
  postgres_config.sql
  postgres_configuration/postgresql.auto.conf
  waiter/Dockerfile
  waiter/wait_for_pg.sh
Due: none

Forcing use chunks for webpack
  .github/workflows/ci.properties.json
  .github/workflows/ci.yml
  backend/config/database.yml
  docker-compose-dev.yml
  frontend/vue.config.js
Due: yarn

:fire: Hotfix CI badge on README.md
  README.md
Due: none

Add stylelint to frontend
  .github/workflows/ci.yml
  backend/app/controllers/autocomplete_controller.rb
  backend/app/controllers/user_token_controller.rb
  frontend/.stylelintrc
  frontend/package.json
  frontend/src/components/BetEditModal.vue
  frontend/src/pages/BetsList.vue
  frontend/src/pages/Login.vue
  frontend/yarn.lock
  lefthook.yml
Due: rubocop

Add yamllint relaxed run to the makefile
  Makefile
  backend/Dockerfile
  docker-compose-dev.yml
  waiter/Dockerfile
Due: none

Stop bets factory to produce another factories
  backend/Gemfile
  backend/Gemfile.lock
  backend/spec/factories/bets.rb
  backend/spec/rails_helper.rb
Due: rubocop

Clean factories a bit
  backend/spec/factories/bets.rb
  backend/spec/factories/users.rb
Due: rubocop

Update rails 6.0.0 -> 6.0.1
  .gitignore
  backend/Gemfile.lock
  backend/config/database.yml
  backend/config/environments/test.rb
  backend/spec/rails_helper.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb, but not: application.rb|routes.rb
  yarn: any of: *.{js,ts}
